.books>span {
    background-color: brown;
    width: 95%;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 5px;
    row-gap: 10px;
}

.book {
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.book .header {
    margin-bottom: auto;
}

.book .header .title {
    color:#000;
    font-weight: 900;
    text-transform: capitalize;
}

.book .header .author {
    font-weight: 100;
    color: brown;
    text-transform: uppercase;
}

.book .cover {
    margin: auto;
}

.book .footer {
    margin-top: auto;
    color: #ee6352;
}