.filters {
    color:green;
    cursor: pointer;
    margin-right: 20px;
    display: inline;
    user-select: none;
}

.books>span {
    background-color: brown;
    width: 95%;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 5px;
    row-gap: 10px;
}

.book {
    margin: 10px;
    padding: 5px;
    border: 1px solid #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bookHeader {
    margin-bottom: auto;
}

.bookHeader .title {
    color:#000;
    font-weight: 900;
    text-transform: capitalize;
}

.bookHeader .author {
    font-weight: 300;
    color: brown;
    text-transform: uppercase;
}

.book .bookCover {
    margin: auto;
    width: 85%;
}

.bookCover a img {
    height: auto;
    width:100%;
}

.bookFooter {
    margin-top: auto;
    color: #ee6352;
    
}

.bookFooter progress {
    width: 95%;
}

.bookFooter div {
    display: inline-block;
    width: 95%;
}


.bookFooter div:nth-child(1) {
    text-align: left;
}

.bookFooter div:nth-child(2) {
    text-align: center;
}

.bookFooter div:nth-child(3) {
    text-align: right;
}

#reading:checked .books {
  display: none;
}
