body {
    --h1-color: var(--color-red);
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-green);
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);
}

.bases-group-heading {
    font-size: x-large;
    font-weight: bold;
    color: red;
    text-decoration: underline;
    text-transform: capitalize;
    background-color:rgb(245, 255, 245);
    width: 100%;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-stroke-color: black;
}

span.bases-list-property:last-child:has(span.value-list-element){
    color: red;
    font-weight: bold;
}

/* span.bases-list-property:last-child > span.list-bullet{
    color: red;
} */

#filters div {
    color:green;
    cursor: pointer;
    margin-right: 20px;
    display: inline;
    user-select: none;
}

#filters div img {
    width:30px;
    height: auto;
    align-items: center;
}

.books>span {
    background-color: brown;
    width: 95%;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 5px;
    row-gap: 10px;
}

.book {
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bookHeader .bookCover {
    margin: 0 auto;
}

.title {
    color:#000;
    font-weight: 900;
    text-transform: capitalize;
}

.author {
    font-weight: 300;
    color: brown;
    text-transform: uppercase;
}


.bookCover > a > img {
    width:auto;
    max-height: 400px;
}

.bookFooter {
    margin-top: auto;
    color: #ee6352;
    width: 95%;
    margin: 0 auto;
}

.bookFooter progress {
    width: 95%;
}

.bookFooter > div > div {
  width:30%;  
  display:inline-block;
}


.bookFooter div:nth-child(1) {
    text-align: left;
}

.bookFooter div:nth-child(2) {
    text-align: center;
}

.bookFooter div:nth-child(3) {
    text-align: right;
}

.hide {
    display: none;
}
