body {
    --h1-color: var(--color-red);
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-green);
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);
}

.bases-group-heading {
    font-size: large;
    font-weight: bold;
    color: darkgreen;
    text-decoration: underline;
    text-transform: uppercase;
}