body {
    --h1-color: var(--color-red);
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-green);
    --h5-color: var(--color-blue);
    --h6-color: var(--color-purple);
}

.bases-group-heading: {
    font-size: large;
    font-weight: bold;
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
    background-color:yellow;
    width: 100%;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: darkgreen;
}

span.bases-list-property:last-child:has(span.value-list-element){
    color: red;
    font-weight: bold;
}

/* span.bases-list-property:last-child > span.list-bullet{
    color: red;
} */